@{
    ViewData["Title"] = "Обновить информацию об автомобиле";
}


<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title text-center">Обновить информацию об автомобиле</h2>
                    <form method="post">

                        <div class="form-group mt-3">
                            <label for="Brand">Марка автомобиля:</label>
                            <input type="text" class="form-control" name="Brand" id="Brand" value="@ViewBag.Car.Brand">
                        </div>

                        <div class="form-group mt-3">
                            <label for="Model">Модель автомобиля:</label>
                            <input type="text" class="form-control" name="Model" id="Model" value="@ViewBag.Car.Model">
                        </div>

                        <div class="form-group mt-3">
                            <label for="Year">Дата выпуска автомобиля:</label>
                            <input type="date" class="form-control" name="Year" id="Year" value="@ViewBag.Car.Year.ToString("yyyy-MM-dd")">
                        </div>

                        <div class="form-group mt-3">
                            <label for="VIN">VIN номер автомобиля:</label>
                            <input type="text" class="form-control" name="VIN" id="VIN" value="@ViewBag.Car.VIN">
                        </div>

                        <div class="form-group mt-3">
                            <label for="LicensePlate">Номерной знак автомобиля:</label>
                            <input type="text" class="form-control" name="LicensePlate" id="LicensePlate" value="@ViewBag.Car.LicensePlate">
                        </div>

                        <div class="form-group mt-3">
                            <label for="Colour">Цвет автомобиля:</label>
                            <input type="text" class="form-control" name="Colour" id="Colour" value="@ViewBag.Car.Colour">
                        </div>


                        <div class="form-group mt-3">
                            <label for="Photo">Фотография автомобиля:</label>
                            <div class="custom-file" style="background-color: #d9edf7; border-radius: 10px; padding: 5px;">
                                <input type="file" class="custom-file-input" name="Photo" id="Photo" value="@ViewBag.Car.Photo>
                                <label class="custom-file-label" for="Photo"></label>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <img id="preview" src="#" alt="preview" style="max-width: 400px; max-height: 400px; margin-top: 10px;" />
                        </div>

                        <div class="mt-3">
                            <input type="submit" value="Добавить" class="btn btn-success">
                        </div>

                        <div class="mt-3">
                            <a class="btn btn-primary" asp-action="Index">Отмена</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Подключение скриптов Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Photo").change(function () {
            readURL(this);
        });
    </script>
</body>


